@using Movies.Frontend.Models.DataTransferObjects
@model MovieDto

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Add Movie</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow" />
                    <label asp-for="Title" class="ms-2">Title</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="Description" class="ms-2">Description</label>
                    <textarea asp-for="Description" rows="5" cols="33" class="form-control shadow">></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select class="form-select" asp-items="@ViewBag.Genres" name="Genre">
                    </select>
                    <label asp-for="Genre" class="ms-2">Genre</label>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ReleaseDate" class="form-control border-0 shadow" />
                    <label asp-for="ReleaseDate" class="ms-2">Release Date</label>
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <br />
                <br />

                <div class="form-floating py-2 col-12">
                    <label asp-for="ImagePaths" class="ms-2">Images</label>
                    <input type="file" id="ImagePaths" name="ImagePaths" multiple />
                    <span asp-validation-for="ImagePaths" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Save</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Return to Home Page
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
